.sidenav {
    background: #1c1f24;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.sidenav .logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: #22262b;
    border-bottom: 1px solid #333;
}

.sidenav .logo {
    background: #007bff;
    color: #fff;
    text-align: center;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.sidenav .logo-text {
    margin-left: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

.sidenav .btn-close {
    margin-left: 10px;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.sidenav .sidenav-nav {
    list-style: none;
    padding: 1rem 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: calc(100% - 4rem);
    overflow-y: auto;
}

.sidenav .nav-item {
    width: 100%;
    margin-bottom: 1rem;
    position: relative;
}

.sidenav .nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.75rem 1rem;
    color: #ddd;
    transition: color 0.3s;
    border-radius: 0.5rem;
}

.sidenav .nav-link:hover {
    background: #007bff;
    color: #fff;
}

.sidenav .link-icon {
    padding-left: 10px;
    font-size: 1.25rem;
    width: 2rem;
    text-align: center;
    color: #bbb;
}

.sidenav .link-text {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
}

.sidenav .nav-link[title]:hover::after {
    content: attr(title);
    position: absolute;
    left: 100%;
    margin-left: 0.5rem;
    background: #22262b;
    color: #fff;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    white-space: nowrap;
    font-size: 0.9rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .sidenav {
        width: 3rem;
    }

    .sidenav-collapsed {
        width: 12rem;
    }
}