<div class="form-container"><br><br>
  <h1>Register Helper</h1><br><br>
  <form (ngSubmit)="onSubmit(helperForm)" #helperForm="ngForm">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" ngModel required />
    </div>

    <div class="form-group">
      <label for="availabilityStatus">Availability Status:</label>
      <select id="availabilityStatus" name="availabilityStatus" ngModel required>
        <option value="Available">Available</option>
        <option value="Unavailable">Unavailable</option>
      </select>
    </div>

    <button type="submit" [disabled]="!helperForm.valid">Submit</button>
  </form>
</div>
