<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResQ Team | Home Page</title>
</head>

<body>
    <h1>Hospital Page</h1>
    <div class = "card1">

        <div class = "small-card">
            <h3>Dashboard</h3>
        </div>

        <div  class = "inner-card">
            <h4>Patient List</h4>
        </div><br>
        <div class = "inner-card">
            <h4>Patient Status</h4>
        </div>
    </div>

    <div class = "card2">
        <div class = "small-card">
            <h3>Pending</h3>
        </div>

        <div class = "inner-card">
            <h4>Victim Status</h4>
        </div>
    </div>
</body>
</html>