<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1><br>
    <div class = "form1">
        <mat-form-field>
            <input matInput placeholder="Name" type="text">
        </mat-form-field><br>

        <mat-form-field>
            <mat-label>Select a role</mat-label>
            <mat-select placeholder="Role">
                <mat-option value = "RescueTeam">Rescue Team</mat-option>
                <mat-option value = "Hospital">Hospital</mat-option>
                <mat-option value = "Volunteer">Volunteer Service</mat-option>
            </mat-select>
        </mat-form-field><br><br>

        <button mat-button (click)="onLogin()">Submit</button>
    </div>

    <div>
        <br>
        <a routerLink="/form" target="_blank" style="color: blue;">New User? Register Here</a>
    </div>
</body>
</html>