body{
    text-align: center;
    align-items: center;
}

.form1{
    justify-content: center;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    margin-top: 50px; 
    margin-bottom: 50px; 
    font-size: 32px; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: bold;
}

.link{
    font-size: 14px;
}

button{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    background-color: #fff;
    border: none;
}

button:hover{
    color: grey;
}