body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9f7;
    color: #1f2937;
    line-height: 1.6;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: white;
    background-color: #6a4c9c;
    padding: 20px 20px 30px 20px;
    margin-bottom: 30px;
}

h3{
    font-size: 1.5rem;
    text-align: center;
    color: #6a4c9c;
    margin: 10px 0;
}

h4{
    margin-left: 70px;
}

.card {
    background-color: #dcd0ff;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.small-card {
    background-color: white;
    color: #6a4c9c;
    text-align: center;
    margin-left: 40px;
    padding: 10px 0;
    border-radius: 8px;
    font-weight: bold;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
    font-size: 1.25rem;
}

.inner-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    overflow-x: auto;
}

.inner-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

table {
    width: 94%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: 70px;
}

thead {
    background-color: #6a4c9c;
    color: white;
}

th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #e0e0e0;
}

tbody tr:nth-child(odd) {
    background-color: #f9fafb;
}

tbody tr:hover {
    background-color: #bc9dec;
}

.add-btn {
    background-color: #6a4c9c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 1.5rem;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.add-btn:hover {
    background-color: #553c8b;
    transform: scale(1.1);
}

.add-btn:active {
    background-color: #482c7a;
    transform: scale(0.95);
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    .card {
        width: 95%;
    }

    .small-card {
        width: 100%;
        font-size: 1rem;
    }

    .inner-card {
        padding: 15px;
    }
}
