body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9f7;
}

h1 {
    font-size: 36px;
    padding: 30px;
    margin-left: 510px;
    color: #6a4c9c;
}


.card1, .card2 {
    background-color: #dcd0ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-left: 10%;
    margin-bottom: 50px;
    margin-top: 5px;
    margin-right: 45px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: baseline;
}

.card1:hover, .card2:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}


.small-card {
    height: 100px;
    width: 340px;
    background-color: white;
    text-align: center;
    margin-top: 10px;
    margin-left: 360px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #6a4c9c;
}

.small-card h3 {
    font-weight: bold;
}


.inner-card {
    height: auto;
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 15px;
    overflow: auto;
    transition: 0.3s;
}

.inner-card:hover {
    box-shadow: 12px 12px 12px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.025);
}

h4 {
    font-size: 26px;
    color: #6a4c9c;
}


#patientTable {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

#patientTable th, #patientTable td {
    text-align: center;
    padding: 8px;
}

#patientTable th {
    background-color: #6a4c9c;
    color: white;
}

#patientTable td {
    background-color: #f1f8e9;
}

#patientTable tr:hover {
    background-color: #c8e6c9;
}


.card2 {
    background-color: #dcd0ff;
    height: 600px;
}


@media only screen and (max-width: 1200px) {
    .card1, .card2 {
        width: 90%;
        margin-left: 5%;
    }

    #patientTable {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .card1, .card2 {
        width: 100%;
        margin-left: 0;
    }

    h1 {
        font-size: 28px;
    }

    .small-card {
        width: 80%;
        font-size: 18px;
    }

    .inner-card {
        width: 100%;
        padding: 10px;
    }

    #patientTable {
        width: 100%;
        font-size: 14px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 22px;
    }
}
