<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register New User</title>
</head>

<body>
    <h1>Register</h1><br>
    <form class="form1" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="Name" type="text" [(ngModel)]="fullName" name="fullName" required>
        </mat-form-field><br>

        <mat-form-field>
            <mat-label>Select a role</mat-label>
            <mat-select [(ngModel)]="roles" name="roles" required>
                <mat-option value="RescueTeam">Rescue Team</mat-option>
                <mat-option value="Hospital">Hospital</mat-option>
                <mat-option value="Volunteer">Volunteer Service</mat-option>
            </mat-select>
        </mat-form-field><br><br>

        <button mat-button type="submit">Submit</button>
    </form>

    <div class="link">
        <br>
        <a routerLink="/login" target="_blank" style="color: blue;">Existing User? Login Here</a>
    </div>
</body>
</html>
