body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #333;
}


.form1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/*
.form-group {
    position: relative;
    width: 100%;
}

label {
    position: absolute;
    left: 15px;
    top: 12px;
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: 0.3s ease;
}

.input-field {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    margin-top: 25px;
} */

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

label {
    font-size: 16px;
    color: #333;
    width: 30%;
    text-align: right;
}

.input-field {
    width: 65%;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.input-field:focus {
    border-color: #4e73df;
    outline: none;
}

.input-field:focus + label, 
.input-field:not(:placeholder-shown) + label {
    top: -10px;
    left: 15px;
    font-size: 12px;
    color: #4e73df;
}

.submit-btn {
    padding: 14px 20px;
    font-size: 18px;
    background-color: #4e73df;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #3e64c7;
}

.link {
    margin-top: 20px;
}

.register-link {
    font-size: 16px;
    color: #4e73df;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}
