<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResQ Team | Home Page</title>
</head>

<body>
    <h1>ResQ Team</h1>
    <div class = "card1">

        <div class = "small-card">
            <h3>Victim Dashboard</h3>
        </div>

        <div  class = "inner-card">
            <h4>SOS List</h4>  <!--Message System, messagedb-->
        </div><br>
        <div class = "inner-card">
            <h4>Victim Status</h4>    <!--rescue team, hospital_db -> patients-->
        </div>
    </div>

    <div class = "card2">
        <div class = "small-card">
            <h3>Hospital Status</h3>
        </div>

        <div class = "inner-card">
            <h4>Hospital Status</h4>   <!--rescue team, hospital_info-->
        </div>
    </div>
</body>
</html>