<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResQ Team | Home Page</title>
</head>
<body>
    <h1>ResQ Team</h1>
    <div>
        <mat-card-title>Victim Dashboard</mat-card-title>
        <mat-card-subtitle>SOS List</mat-card-subtitle>
        <mat-card-content>All victims displayed here!</mat-card-content>
    </div>

    <div>
        <mat-card-title>Victim Status
            <mat-card-title>Admitted victims</mat-card-title>
        </mat-card-title>
    </div>
</body>
</html>