body {
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    padding: 0;
    background-color: #f9fafc;
    color: #1f2937;
    line-height: 1.6;
}

header {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h4{
    font-size: 1.5rem;
    margin-left: 5px;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 20px;
    width: calc(98% - 10px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.small-card {
    background-color: #1e3a8a;
    color: white;
    text-align: center;
    margin-left: 40px;
    padding: 10px 0;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.25rem;
}

.inner-card {
    background-color: #f3f4f6;
    margin-left: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.inner-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    table-layout: auto;
}

thead {
    background-color: #1e3a8a;
    color: white;
    position: sticky;
    top: 0;
    margin: auto;
    z-index: 2;
}

th, td {
    text-align: center;
    padding: 10px;
    border: 1px solid #d1d5db;
}

tbody{
    overflow: scroll;
}

tr:hover{
    background-color: #6690eb;
}


.add-btn {
    background-color: #2563eb;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-btn:hover {
    background-color: #1e40af;
    transform: scale(1.1);
}

.add-btn:active {
    background-color: #1c3aa9;
    transform: scale(0.95);
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }
}
