body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f8;
}


h1 {
    font-size: 36px;
    padding: 30px;
    margin-left: 510px;
    color: #388e3c;
}


.card1, .card2 {
    background-color: #a5d6a7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    padding: 20px;
    margin-left: 10%;
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: baseline;
    width: 80%;
}

.card1:hover, .card2:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}


.small-card {
    height: 100px;
    width: 340px;
    background-color: #fff;
    text-align: center;
    margin: auto;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #388e3c;
}

.small-card h3 {
    font-weight: bold;
}


.inner-card {
    height: auto;
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 15px;
    overflow: auto;
    transition: 0.3s;
}

.inner-card:hover {
    box-shadow: 12px 12px 12px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.025);
}

h4 {
    font-size: 26px;
    color: #388e3c;
}


@media only screen and (max-width: 1200px) {
    .card1, .card2 {
        width: 90%;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 768px) {
    .card1, .card2 {
        width: 100%;
        margin-left: 0;
    }

    h1 {
        font-size: 28px;
    }

    .small-card {
        width: 80%;
        font-size: 18px;
    }

    .inner-card {
        width: 100%;
        padding: 10px;
    }

    h3 {
        font-size: 28px;
    }

    h4 {
        font-size: 22px;
    }
}
