<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DM App | Home Page</title>

    <link rel="shortcut icon" href="">
    <link rel="stylesheet" href="sos.component.css">
</head>
<body>
    <div class="top-right">
        <a routerLink="/register" class="auth-link">Register</a>
        <a routerLink="/login" class="auth-link">Login</a>
    </div>

    <button (click)="sendMsg()" class="sos"> SOS </button>
</body>
</html>
